p{
    /* font-size: 20px; */
    /* font-weight: bold; */
     /* font-weight: thin */
        /* font-weight: normal */
         /* font-weight: 600; */
         /* font-style: italic; */
         /* font-style: oblique; */
         /* font-style:normal */
         /* font-family:serif;
        font-family:sans-serif; */
           /* font-family:cursive; */
           /* font-family: monospace; */
              /* font-family:fantasy */
                font-family: "Averia Gruesa Libre", system-ui;
  font-weight: 800;
  font-style: normal;


}